.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 10000px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  background-color: #333;
  color: #fff;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: #28a745;
}

button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #218838;
}

.result-message {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.input-error {
  margin-top: 10px;
  color: #ff0033;
  font-size: 1rem;
}

.guesses-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  text-align: left;
}

.guesses-list li {
  margin-bottom: 5px;
}

.error {
  color: #ff0033;
  margin-top: 20px;
}

.guess-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 12px;
  border: 2px solid #ccc;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.guess-word {
  margin-right: 10px;
  font-size: 16px;
}

.guess-score {
  font-size: 16px;
}
